language: node_js
node_js:
  - "8"
cache:
  directories:
    - keycloak-3.4.3.Final
services:
  - mysql
  - rabbitmq
before_script:
  - rmdir keycloak-3.4.3.Final --ignore-fail-on-non-empty
  - npm install -g coveralls
  - cp test/config.json .
  - mysql -e 'CREATE DATABASE pm;'
  - ./scripts/start-keycloak.sh
  - node app.js --port 3002 --host localhost &
  - sleep 5
script:
  - tape test/*-test.js | node_modules/.bin/tap-spec