language: node_js
node_js:
  - "8"
cache:
  directories:
    - keycloak-3.4.3.Final
services:
  - mysql
  - rabbitmq
before_script:
  - rmdir keycloak-3.4.3.Final --ignore-fail-on-non-empty
  - npm install -g coveralls
  - cp test/config.json .
  - mysql -e 'CREATE DATABASE pm;'
  - ./scripts/start-keycloak.sh
  - npm run instrument
  - npm run run-cover &
  - sleep 5
script:
  - npm run test
after_success:
  - kill `ps x |grep -v grep|grep istanbul|awk {'print $1'}`
  - npm run coverage
  - ls coverage
  - cat ./coverage/lcov.info
  - cat ./coverage/lcov.info | coveralls