version: "3"
services:
  pakkasmarja-berries-sap-mock:
    container_name: pakkasmarja-berries-sap-mock
    image: metatavu/odata-mock:latest
    environment:
      ODATA_MOCK_EDM_FILE: /opt/odata/edm.xml
      ODATA_MOCK_SESSION_COOKIE_NAME: B1SESSION
      ODATA_MOCK_SESSION_COMPANYDB: companydb
      ODATA_MOCK_SESSION_USERNAME: sapuser
      ODATA_MOCK_SESSION_PASSWORD: sappass
    volumes:
      - ./test-volumes/odata-mock:/opt/odata
  pakkasmarja-berries-erp-service:
    container_name: pakkasmarja-berries-erp-service
    image: metatavu/erp-service:latest
    environment:
      FI_METATAVU_PAKKASMARJA_SAP_API_URL: http://pakkasmarja-berries-sap-mock:8080/odata
      FI_METATAVU_PAKKASMARJA_SAP_COMPANY_DB: companydb
      FI_METATAVU_PAKKASMARJA_SAP_USER_NAME: sapuser
      FI_METATAVU_PAKKASMARJA_SAP_USER_PASSWORD: sappass
      QUARKUS_OIDC_AUTH_SERVER_URL: http://pakkasmarja-berries-keycloak:8080/auth/realms/pm
      QUARKUS_OIDC_CLIENT_ID: erp
  pakkasmarja-berries-mysql:
    container_name: pakkasmarja-berries-mysql
    platform: linux/amd64
    image: mysql:5.7
    command: --lower_case_table_names=1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pm
      MYSQL_USER: pm
      MYSQL_PASSWORD: random
    ports:
      - 3306:3306
  pakkasmarja-berries-keycloak:
    container_name: pakkasmarja-berries-keycloak
    image: quay.io/keycloak/keycloak:24.0.1
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_FILE: /opt/docker/kc.json
      KC_HTTP_RELATIVE_PATH: /auth
    ports:
      - 8080:8080
    volumes:
      - ./test-volumes/keycloak:/opt/keycloak/data/import
  pakkasmarja-berries-api:
    container_name: pakkasmarja-berries-api
    platform: linux/amd64
    build: .
    environment:
      STARTUP_DELAY: 35
    ports:
      - 3002:3000
    depends_on:
      - pakkasmarja-berries-mysql
      - pakkasmarja-berries-keycloak
    healthcheck:
        test: curl http://pakkasmarja-berries-keycloak:8080
        interval: 2s
        timeout: 5s
        retries: 30
    volumes:
      - ./test-volumes/pakkasmarja-api/config.json:/usr/src/pakkasmarja/config.json
      - ./test-volumes/pakkasmarja-api/app-config.json:/usr/src/pakkasmarja/app-config.json
      - /tmp/pakkasmail:/tmp/pakkasmail
      - /tmp/pakkaspush:/tmp/pakkaspush
      - /tmp/sapxml:/tmp/sapxml
  pakkasmarja-berries-tests:
    container_name: pakkasmarja-berries-tests
    build:
      context: .
      dockerfile: Dockerfile.tests
    environment:
      TEST_HOST: http://pakkasmarja-berries-api:3000
      SAP_TEST_CLIENT_HOST: http://pakkasmarja-berries-sap-mock:8080
    depends_on:
      - pakkasmarja-berries-api
      - pakkasmarja-berries-mysql
      - pakkasmarja-berries-keycloak
      - pakkasmarja-berries-sap-mock
      - pakkasmarja-berries-erp-service
    volumes:
      - ./test-volumes/pakkasmarja-api/config.json:/usr/src/pakkasmarja/config.json
      - ./test-volumes/pakkasmarja-api/app-config.json:/usr/src/pakkasmarja/app-config.json
      - /tmp/pakkasmail:/tmp/pakkasmail
      - /tmp/pakkaspush:/tmp/pakkaspush
      - /tmp/sapxml:/tmp/sapxml
