extends layout/layout

block custom-head
  title Pakkasmarja Berries
block body
  .container   
    form
      .row
        .col-12
          h1
            |Pakkasmarja Berries
      .row
        .col-12
          .card.card-inverse
            .card-block
              h4.card-title
                |Tervetuloa!
              p
                |Pakkasmarja Berries. 