doctype html
html(lang='en')
  head
    base(href=baseUrl)
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='https://cdn.metatavu.io/libs/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.metatavu.io/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/signcallback.min.css')
  body
    .container
      .row
        .col.mt-4.pt-4.text-center
          if success
            i.fa.fa-thumbs-o-up 
          else
            i.fa.fa-frown-o
      .row.mt-4
        .col.text-center
          if success
            h3
              |Kiitos
          else
            h3
              |Jokin meni vikaan.
      .row.mt-4
        .col.text-center
          if success
            p
              |Sopimus on nyt allekirjoitettu. Jos sinulla on kysyttävää, ole hyvä ja ota yhteyttä Pakkasmarjaan.
          else
            p
              |Jokin meni vikaan. Voit yrittää allekirjoittaa sopimuksen uudelleen. Jos ongelma ei katoa, ota yhteyttä Pakkasmarjaan.
      .row.mt-4
        .col.text-center
          p
            a.btn(href="/#contracts")
              |palaa applikaatioon
      