{{#areaDetails.0}}
<table class="area-details">
  <thead>
    <tr>
      <th>Lohko/Lohkot</th>
      <th>Pinta-ala (ha)</th>
      <th>Lajike/Lajikkeet</th>
      {{^itemGroup.minimumProfitEstimation}}
      <th>Tuottoarvio (kg / ha)</th>
      {{/itemGroup.minimumProfitEstimation}}
    </tr>
  </thead>
  <tbody>
    {{#areaDetails}}
    <tr>
      <td>{{name}}</td>
      <td>{{size}}</td>
      <td>{{species}}</td>
      {{^itemGroup.minimumProfitEstimation}}
      <td>{{profitEstimation}}</td>
      {{/itemGroup.minimumProfitEstimation}}
    </tr>
    {{/areaDetails}}
  </tbody>
</table>
{{/areaDetails.0}}