{{#areaDetails.0}}
<table class="area-details">
  <thead>
    <tr>
      <th>Viljeltävä marja-laji (esim.1a)</th>
      <th>Lohko</th>
      <th>Pinta-ala (ha)</th>
      {{^itemGroup.minimumProfitEstimation}}
      <th>Tuottoarvio (kg)</th>
      {{/itemGroup.minimumProfitEstimation}}
    </tr>
  </thead>
  <tbody>
    {{#areaDetails}}
    <tr>
      <td>{{species}}</td>
      <td>{{name}}</td>
      <td>{{size}}</td>
      {{^itemGroup.minimumProfitEstimation}}
      <td>{{profitEstimation}}</td>
      {{/itemGroup.minimumProfitEstimation}}
    </tr>
    {{/areaDetails}}
  </tbody>
</table>
{{/areaDetails.0}}