<div style="
height: 180px;
border-bottom: 1px solid black;
">
<div style="
display:float;
float:left;
width:24.5%;
margin-top:10px;
">
  <div style="font-weight:bold; font-size:1.2em;">Toimittaja</div>
  <div>{{ contact.sapId }}</div>
  <div>{{ contact.displayName }}</div>
  {{#contact.addresses}}
    <div>{{streetAddress}}</div>
    <div>{{postalCode}} {{city}}</div>
  {{/contact.addresses}}
</div>
<div style="
display:float;
float:left;
width:50%;
">
  <div style="text-align:center;">
    <div style="font-weight:bold; font-size:2em;">Hyväksytyt toimitukset</div>
    <div>
        <div style="display:inline;">{{ startDate }} - </div>
        <div style="display:inline;">{{ endDate }}</div>
    </div>
  </div>
</div>
<div style="
display:float;
float:left;
width:24.5%;
margin-top:10px;
">
  <div style="text-align:right;"> 
    <div style="font-weight:bold; font-size:1.2em;display:inline;">Pvm</div>
    <div style="display:inline;">{{ dateNow }}</div>
  </div>
</div>
</div>