<div style="
height: 140px;
">
  <div style="text-align:center;font-size:1.1em;height:80px;border-bottom:1px solid black;"><strong>Huomaathan</strong>, että mahdolliset jälkikäteen tehdyt korjaukset, hyvitykset tai palautukset eivät välttämättä näy tässä raportissa!</div>
  <div>PAKKASMARJA OY</div>
  <div>Lintikonkatu 20</div>
  <div>77600 SUONENJOKI</div>
  <div>
    <div style="float:left">Finland</div>
    <div style="float:right;color:red;font-size:1.2em">Raportti ladattu Pakkasmarja-apista</div>
  </div>
</div>